body {
  color: #3b4043;
  background-color: #f8f8f8;
  font-family: Verdana, Arial, sans-serif;
  margin: 0px;
}
p {
  font-size: 12pt;
  text-align: justify;
}
h1, h2, h6 {
  font-weight: normal;
  font-family: Arial, sans-serif;
  letter-spacing: 1mm;
  text-shadow: #cdd9db 1px 1px;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 18pt;
}
h6 {
  font-size: 12pt;
}
table {
  font-size: 10pt;
}
blockquote p, address {
  font-size: 10pt;
  font-style: italic;
}
address {
  text-align: right;
}
ul {
  list-style-type: circle;
}
#navbar {
  font-family: Arial, sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  list-style-type: none;
  margin-left: -30px;
}
#navbar li {
  padding: 5px 10px;
  margin: 10px 0px;
  border: thin solid #b1bec6;
}
#cheader {
  width: 1010px;
  padding: 0 20px;
  border-bottom: thin dotted #b1bec6;
}
#cnavbar {
  width: 250px;
  height: 570px;
  float: left;
  margin-right: 10px;
  /* width: 30%;
  min-width: 240px;
  float: left; */
}
#cmain {
  width: 760px;
  height: 570px;
  float: left;
  overflow: auto;
  padding: 5px;
  border-left: thin dotted #b1bec6;
  /* width: 70%;
  float: left; */
}
#ccopyright {
  width: 1010px;
  clear: both;
  padding: 10px 20px 0px 20px;
  border-top: thin dotted #b1bec6;
  /* width: 100%;
  clear: both; */
}